
/.idea/
/target/
/machine.iml
.DS_Store
/.gradle/
/build/
/out/
/libs
spring-shell.log
/distribution
/spring-shell.log
/release
/db
/docs/vendor
/docs/.bundle
/docs/.saas-cache
/test
/logs/

/LOG_PATH*